body {
    background-image: url("imgs/brand-imgs/fusion-background.png");
  }
  h1 {
    color: white;
    text-align: center;
    font-family: Arial;
  }
  
  p {
    font-family: Arial;
    font-size: 20px;
    color: white
  }
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

button{
                    padding-top:20px;
                    padding-left:61px;
                    padding-bottom:20px;
                    padding-right:61px;
                    border-radius:40px;
                    background-color:#D74E00;
                    font-family: 'Kdam Thmor Pro', sans-serif;
                    font-size: large;
                    color: white;
                    box-shadow: 0px 11px 5px 0px rgb(64,62,62);
-webkit-box-shadow: 0px 11px 5px 0px rgb(64,62,62);
-moz-box-shadow: 0px 11px 5px 0px rgb(75, 74, 74);
                    transition: background-color 0.8s;
                    border: none;
                
                    

                }

                button:hover{
                    background-color:#08009b;
                    
                }

                button:active{
                    box-shadow: -2px 5px 5px 0px rgba(64,62,62,0.0.75);
-webkit-box-shadow: -2px 5px 5px 0px rgba(64,62,62,0.75);
-moz-box-shadow: -2px 5px 5px 0px rgba(64,62,62,0.75);
                  margin-top: 3px;
                }

                .rgbbtn {
                  font-family: "Montserrat", sans-serif;
                  font-weight: bold;
                  text-transform: uppercase;
                  padding: 0.6em 2em;
                  margin-right: 2em;
                  border: none;
                  outline: none;
                  color: rgb(0, 0, 0);
                  background: white;
                  cursor: pointer;
                  position: relative;
                  border-radius: 10px;
                  font-size: 20px;
                }
                
                .rgbbtn:before {
                  content: "";
                  color: black;
                  background: linear-gradient(45deg,#ff7300, #002bff);
                  position: absolute;
                  top: -2px;
                  left: -2px;
                  background-size: 400%;
                  z-index: -1;
                  filter: blur(5px);
                  width: calc(100% + 4px);
                  height: calc(100% + 4px);
                  animation: glowingbn5 20s linear infinite;
                  opacity: 0;
                  transition: opacity 0.3s ease-in-out;
                  border-radius: 10px;
                  font-family: "Montserrat", sans-serif;
                }
                
                @keyframes glowingbn5 {
                  0% {
                    background-position: 0 0;
                  }
                  50% {
                    background-position: 400% 0;
                  }
                  100% {
                    background-position: 0 0;
                  }
                }
                
                .rgbbtn:active {
                  color: black;
                  background: linear-gradient(45deg,#ff7300, #002bff, #ff7300);
                }
                
                .rgbbtn:active:after {
                  background: transparent;
                }
                
                .rgbbtn:hover:before {
                  opacity: 1;
                }
              
                .rgbbtn:hover {
                  background: linear-gradient(45deg,#ff7300, #002bff, #ff7300);
                }
              
                .rgbbtn:after {
                  z-index: -1;
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background: black;
                  left: 0;
                  top: 0;
                  border-radius: 10px;
                }

