
.rgbbtn {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.6em 2em;
    margin-right: 2em;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: white;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .rgbbtn:before {
    content: "";
    color: black;
    background: linear-gradient(45deg,#ff7300, #002bff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .rgbbtn:active {
    color: black;
    background: linear-gradient(45deg,#ff7300, #002bff, #ff7300);
  }
  
  .rgbbtn:active:after {
    background: transparent;
  }
  
  .rgbbtn:hover:before {
    opacity: 1;
  }

  .rgbbtn:hover {
    background: linear-gradient(45deg,#ff7300, #002bff, #ff7300);
  }

  .rgbbtn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
  }